{{ 'section-product-slider.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<div class="product-slider-container">
  <div class="title-and-arrows-container">
    <h3 class="section-title">{{ section.settings.collection | collection_name }}</h3>
    <div class="arrows-container">
      <div class="arrow arrow-left">
        <img src="/leftArrow.png" alt="Left arrow">
      </div>
      <div class="arrow arrow-right">
        <img src="/leftArrow.png" alt="Left arrow">
      </div>
    </div>
  </div>
  <div class="swiper product-slider">
    <div class="swiper-wrapper">
      {% for product in collections[section.settings.collection].products %}
        <div class="swiper-slide">
          <a href="{{ product.url }}" class="product-link">
            <img
              src="{{ product.featured_image | image_url: width: 800 }}"
              alt="{{ product.title }}"
              class="product-image"
              loading="lazy"
            >
            <h3 class="product-title product-title--{{ section.settings.product_title_size }}">{{ product.title }}</h3>

            <p class="product-price">
              {% if product.compare_at_price > product.price %}
                <span class="product-price--current sale-price">{{ product.price | money }}</span>
                <span class="product-price--old">{{ product.compare_at_price | money }}</span>
              {% else %}
                Ab {{ product.price | money }}
              {% endif %}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>

    {% if section.settings.show_pagination %}
      <div class="swiper-pagination"></div>
    {% endif %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.product-slider', {
      slidesPerView: 2,
      spaceBetween: 20,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        enabled: true,
      },
      navigation: {
        nextEl: '.arrow-right',
        prevEl: '.arrow-left',
        enabled: false,
      },
      breakpoints: {
        768: {
          slidesPerView: 4,
        },
        1024: {
          slidesPerView: 5,
          pagination: false,
          navigation: true,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Product Slider",
  "tag": "section",
  "class": "product-slider-section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    }
  ],
  "presets": [
    {
      "name": "Product Slider",
      "category": "Products"
    }
  ]
}
{% endschema %}
