{{ 'section-product-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-slider.js' | asset_url }}" type="text/javascript"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<div class="product-slider-container">
  <div class="title-and-arrows-container">
    <h2 class="section-title">{{ section.settings.collection | collection_name }}</h2>
    <div class="arrows-container">
      <div class="arrow arrow-left">
        <img src="{{ 'arrowLeft.png' | asset_url }}" alt="Left arrow">
      </div>

      <div class="arrow arrow-right">
        <img src="{{ 'arrowLeft.png' | asset_url }}" alt="Left arrow">
      </div>
    </div>
  </div>
  <div class="swiper product-slider">
    <div class="swiper-wrapper">
      {% for product in collections[section.settings.collection].products %}
        <article class="swiper-slide">
          <a href="{{ product.url }}" class="product-link" title="Ver más sobre {{ product.title }}">
            <img
              src="{{ product.featured_image | image_url: width: 800 }}"
              alt="{{ product.title }} - Buy now"
              class="product-image"
            >
            <div class="starsContainer">
              <img
                src="{{ 'ratingStars.png' | asset_url }}"
                alt="Valoración de {{ product.title }}"
                class="rating-stars"
              >
            </div>
            <h3 class="product-title product-title--{{ section.settings.product_title_size }}">
              {{ product.title }}
            </h3>

            <div class="product-price">
              {% if product.variants.size > 1 and product.compare_at_price > product.price %}
                <span class="abLabel sale-price">ab</span>
                <div class="prices-container">
                  <span class="product-price--current sale-price">{{ product.price | money }}</span>
                  <span class="product-price--old">{{ product.compare_at_price | money }}</span>
                </div>
              {% elsif product.variants.size > 1 %}
                <span class="abLabel">ab</span> {{ product.price | money }}
              {% elsif product.compare_at_price > product.price %}
                <div class="prices-container">
                  <span class="product-price--current sale-price">{{ product.price | money }}</span>
                  <span class="product-price--old">{{ product.compare_at_price | money }}</span>
                </div>
              {% else %}
                {{ product.price | money }}
              {% endif %}
            </div>
          </a>
        </article>
      {% endfor %}
    </div>

    <!-- Paginación Swiper -->
    <div class="swiper-pagination"></div>
  </div>
</div>

{% comment %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      new Swiper('.product-slider', {
        slidesPerView: 1.6,
        spaceBetween: 20,
        slidesOffsetAfter: 20,
        slidesOffsetBefore: 20,
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          enabled: true,
          type: 'bullets',
        },
        breakpoints: {
          768: {
            slidesPerView: 3.5,
            slidesOffsetAfter: 30,
            slidesOffsetBefore: 30,
          },
          1024: {
            slidesPerView: 4.4,
            pagination: false,
            navigation: {
              nextEl: '.arrow-right',
              prevEl: '.arrow-left',
              enabled: true,
              slidesOffsetAfter: 20,
              slidesOffsetBefore: 20,
            },
          },
        },
      });
    });
  </script>
{% endcomment %}

{% schema %}
{
  "name": "Product Slider",
  "tag": "section",
  "class": "product-slider-section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    }
  ],
  "presets": [
    {
      "name": "Product Slider",
      "category": "Products"
    }
  ]
}
{% endschema %}
